<div class="container">
    <div class="columns">
        <div class="column"></div>
        <div class="column is-half">
            <h1 class="title is-2" style="margin:100px 0 50px">
                {{article.title}}
            </h1>
            <p class="content"> 
                {{article.article}}
            </p>
        </div>
        <div class="column"></div>
    </div>
</div>