<div class="container">
    {{#if err}}
        <div class="notification is-danger pad" >{{err}}</div>
    {{/if}}
    <h1 class="title has-text-centered pad is-2">{{title}} a New Article</h1>
    <div class="columns">
        <div class="column"></div>
        <div class="column is-two-thirds">
            <form method="POST" action="/post" encType="multipart/form-data">
                <input type="text" name="title" placeholder="Title..." class="writetitle"> <br><br>
                <div class="box block write" contenteditable="true" style="height: 600px"></div> <br>
                <input type="hidden" name="article" id="article" class="content">
                <button class="button is-primary" type="submit">Post</button>
                <input type="file" class="button is-sucess is-big" name="image" />
            </form>


        </div>
        <div class="column"></div>
    </div>

</div>
</div>
{{>jslinks}}
<script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.23.1/css/themes/beagle.min.css">
<script>
    var editor = new MediumEditor('.write');
    var x = document.querySelector('.page');

    document.onkeydown = function () {
        var text = $('.write').html();
        var article = $('#article').val(text);
    }
</script>