<div class="container2" style="margin-top:100px">
    <div class="columns">
        <div class="column ">
            <h1 class="title is-1 is-primaryP">{{title}} <br> Here</h1>
        </div>
        <div class="column">
            <form method="POST" action="/register">
                <div class="field">
                    <label class="label">Name</label>
                    <input type="text" class="input" name="name" aria-describedby="emailHelp" placeholder="Enter name">
                </div>
                <div class="field">
                    <label class="label">Email address</label>
                    <input type="email" class="input" name="email" aria-describedby="emailHelp" placeholder="Enter email"><br>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="field">
                    <label class="label">Twitter</label>
                    <input type="text" class="input" name="twitter" aria-describedby="emailHelp" placeholder="Enter email"><br>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <input type="password" class="input" name="password" placeholder="Password">
                </div>
                <button type="submit" class="button is-black">Register</button>
            </form>

        </div>
    </div>

</div>